doctype html
html
  head
    title="Alojamientos, Alquileres vacacionales - Node Airbnb"
    link(href="/css/style.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto")
  body
    header(class="header")
      div(class="container")
        a(href="#", class="logotype")="Airbnb Application"
    main(class="main")
      div(class="container")
        block content
    footer(class="footer")
      div(class="container")
        span="Copyright 2018"
