/**
 * Styles application
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:root {
  --background-color: #fff;
  --white-color: #fff;
  --text-color: #484848;
  --main-color: #FF4F55;
  --gray-color: #EAEAEA;
  --font-primary: 'Roboto', Arial, sans-serif;
  --gray-200: #ABABAB;
  --font-family-sans-serif: 'Roboto', Arial, sans-serif;
  --primary: var(--main-color);
}

body {
  background: var(--white-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  outline: 0 none;
  font-family: var(--font-primary);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: all .1s ease;
}

a:hover {
  text-decoration: none;
  color: var(--primary);
  opacity: .8;
}

.header {
  color: var(--main-color);
  padding: 10px 0;
  border-bottom: 1px solid;
  border-color: var(--gray-color);
  position: relative;
}

.header .logotype {
  position: absolute;
  top: 1px;
}

.main {
  padding: 20px 0;
  line-height: 1.5;
}

.footer {
  text-align: center;
  color: var(--text-color);
  padding: 10px 0;
  border-top: 1px solid;
  border-color: var(--gray-color);
}

hr {
  border-top: 1px solid;
  border-color: var(--gray-color);
}

.card-item {
  margin-bottom: 15px;
}

.card-item .card-item--image {
  overflow: hidden;
  height: 200px;
  position: relative;
  border-radius: 3px;
  background: var(--main-color);
}

.card-item .card-item--image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-item .card-item--content {
  padding-top: 5px;
}

.card-item .card-item--content span {
  display: block;
}

.card-item .card-item--content .card-item--title {
  font-size: 18px;
  font-weight: 600;
}

.card-item .card-item--content .card-item--description {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 200;
}

.card-item .card-item--content a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.card-item .card-item--content a:hover {
  opacity: .8;
}

.card-item .card-item--info {
  font-weight: 200;
}

.card-item .card-item--info .card-item--price {
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
}

.section-subtitle {
  font-size: 16px;
  color: var(--gray-200);
  margin-top: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.section-body {
  margin-top: 25px;
}

.section-feature {
  padding: 35px 0;
}

.section-feature .section-title {
  margin-bottom: 15px;
}

.feature-card {
  font-weight: 200;
}

.feature-card img {
  display: block;
  margin-bottom: 10px;
}

.feature-card span {
  font-weight: 600;
  font-size: 18px;
  height: 50px;
  display: block;
  margin-bottom: 10px;
}

.nav-custom .nav-item a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
}